
        #equirementcontrol {
            margin-top: 11px;
        }
    
            #equirementcontrol p.equirecon_title {
                font-size: 14px;
                color: #393d49;
                border-left: 2px solid #389bff;
                text-indent: 14px;
                line-height: 16px;
                margin: 23px 0 12px;
            }
    
                #equirementcontrol p.equirecon_title span {
                    float: right;
                    font-size: 12px;
                    color: #00c1de;
                    cursor: pointer;
                }
    
            #equirementcontrol .equirecon {
                margin: 0 auto;
            }
    
                #equirementcontrol .equirecon .equireitem {
                    min-width: 300px;
                    border: 1px solid #bebebe;
                    float: left;
                    font-size: 14px;
                    color: #666;
                    height: 52px;
                    box-sizing: border-box;
                    line-height: 52px;
                    text-indent: 14px;
                    margin: 10px;
                }
    
                    #equirementcontrol .equirecon .equireitem span {
                        display: inline-block;
                        float: left;
                        height: 50px;
                    }
    
                    #equirementcontrol .equirecon .equireitem > span:first-child {
                        width: 44%;
                        height: 50px;
                        font-size: 14px;
                        align-items: center;
                        line-height: 20px;
                        justify-content: center;
                        text-indent: 0px;
                        padding-left: 11px;
                        box-sizing: border-box;
                        display: flex;
                        white-space: nowrap\9;
                        overflow: hidden\9;
                        text-overflow: ellipsis\9;
                        line-height: 50px\9;
                    }
    
                    #equirementcontrol .equirecon .equireitem span.controlswitch {
                        width: 33%;
                        height: 32px;
                        border: 1px solid #b5b5b5;
                        border-radius: 15px;
                        margin-top: 10px;
                        box-sizing: border-box;
                        margin-right: 10%;
                        position: relative;
                    }
    
                        #equirementcontrol .equirecon .equireitem span.controlswitch span {
                            float: left;
                            width: 33.2%;
                            height: 30px;
                            text-align: center;
                            line-height: 31px;
                            text-indent: 0;
                            cursor: pointer;
                            position: relative;
                            z-index: 99;
                            font-size: 12px;
                        }
    
                            #equirementcontrol .equirecon .equireitem span.controlswitch span.switch {
                                content: '.';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 33%;
                                display: block;
                                height: 30px;
                                background-color: red;
                                border-radius: 50%;
                                z-index: 1;
                            }
    
                            #equirementcontrol .equirecon .equireitem span.controlswitch span.active {
                                color: #fff;
                                font-size: 15px;
                                text-indent: -1px;
                            }
    
                    #equirementcontrol .equirecon .equireitem span.olddata {
                        width: 13%;
                        height: 50px;
                        text-align: center;
                        display: inline-block;
                        background: url('../../images/za_farm_img (11).png') 0 center no-repeat;
                        cursor: pointer;
                    }
    
                        #equirementcontrol .equirecon .equireitem span.olddata:hover {
                            background-image: url('../../images/za_farm_img11plus.png');
                        }
    
                #equirementcontrol .equirecon div.unlive {
                    background-color: #f5f5f5;
                    border: 1px solid #eee;
                }
    
                #equirementcontrol .equirecon .unlive span.unlive {
                    display: block;
                    width: 33%;
                    height: 30px;
                    margin-right: 10%;
                    margin-top: 10px;
                    background: url('../../images/za_farm_img (13).png') 24px 10px no-repeat;
                    line-height: 30px;
                    text-indent: 13%;
                    font-size: 12px;
                    color: #393d49;
                }
       
        .layui-table[lay-skin=line] th {
            color: #333;
            font-weight: 400;
        }
    
        .layui-table thead tr {
            background-color: #f9f9f9;
        }
    
        .layui-table[lay-skin=line] td, .layui-table[lay-skin=line] th {
            border-color: #eee;
        }
    
        .clearfix:before {
            zoom: 1;
        }
    
        .clearfix:before, .clearfix:after {
            display: table;
            line-height: 0;
            content: '';
        }
    
        .clearfix:after {
            clear: both;
        }
    
        #za_realData {
            margin-top: 12px;
        }
    
            #za_realData .title .fl, #za_machine .title .fl, #za_weather .title .fl {
                height: 18px;
                line-height: 18px;
                font-size: 14px;
                border-left: 2px solid #389BFF;
                padding-left: 12px;
            }
    
            #za_realData .title .reload, #za_machine .title .reload, #za_weather .title .reload {
                cursor: pointer;
                color: #00c1de;
            }
    
            #za_realData .content {
                margin-top: -25px;
            }
    
        .content .level_one .sub_tit {
            position: relative;
            width: 300px;
            height: 22px;
            margin: 3px auto 25px;
        }
    
            .content .level_one .sub_tit p {
                position: absolute;
                bottom: -11px;
                left: 118px;
                font-size: 14px;
                text-align: center;
                width: 64px;
                height: 22px;
                border-radius: 11px;
            }
    
        .land_line {
            border-bottom: 1px solid #FFF0D7;
        }
    
        .water_line {
            border-bottom: 1px solid #D7F5FF;
        }
    
        .weather_line {
            border-bottom: 1px solid #F7EAFA;
        }
    
        .air_line {
            border-bottom: 1px solid #E6F7E7;
        }
    
        .land {
            background: #FFF0D7;
            color: #de965f;
        }
    
        .water {
            background: #D7F5FF;
            color: #00b7ee;
        }
    
        .weather {
            background: #F7EAFA;
            color: #c360e4;
        }
    
        .air {
            background: #E6F7E7;
            color: #2daf61;
        }
    
        .secondary .level_two {
            float: left;
            width: 230px;
            margin: 0 22px 10px;
        }
    
            .secondary .level_two .label {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                text-align: center;
                background: #6e7385;
                color: #fff;
            }
    
                .secondary .level_two .label img {
                    margin-top: -2px;
                    margin-right: 2px;
                }
    
            .secondary .level_two .wrap_border {
                border: 1px solid #CACACA;
            }
    
            .secondary .level_two .detail {
                height: 132px;
                box-sizing: border-box;
                padding: 25px 50px 15px;
            }
    
            .secondary .level_two .offline_detail {
                height: 132px;
                background: url(../../images/offline.png)no-repeat center;
            }
    
            .secondary .level_two .detail .creact_num {
                height: 45px;
                font-size: 30px;
                font-weight: 700;
                color: #389bff;
            }
    
                .secondary .level_two .detail .creact_num sup {
                    font-size: 14px;
                    color: #c6c6c6;
                    font-weight: 400;
                    padding: 0 0 0 5px;
                }
    
            .secondary .level_two .detail .progress_line {
                position: relative;
                width: 100%;
                height: 0;
                border: 1px solid #a0ccff;
                background-color: #a0ccff;
                box-shadow: 0 0 2px #a0ccff;
                margin: 10px 0;
            }
    
            .secondary .level_two .detail .progress_circle {
                position: absolute;
                width: 8px;
                height: 8px;
                background: #389bff;
                border-radius: 4px;
                top: -4px;
                left: 0;
                box-shadow: 0 0 3px #389bff;
            }
    
            .secondary .level_two .detail .normal_area {
                height: 25px;
                line-height: 25px;
                text-align: center;
                font-size: 12px;
                color: #999;
            }
    
            .secondary .level_two .fresh_time {
                border-bottom: 1px solid #CACACA;
                font-size: 12px;
                color: #c6c6c6;
                padding: 6px 8px;
            }
    
                .secondary .level_two .fresh_time .normal_status {
                    color: #00a344;
                }
    
                .secondary .level_two .fresh_time .offline_status {
                    color: #333;
                }
    
            .secondary .level_two .operate div {
                cursor: pointer;
                width: 100%;
                height: 30px;
                line-height: 30px;
                color: #999;
                text-align: center;
            }
    
            .secondary .level_two .operate .fl img {
                margin-top: -6px;
                display: none;
            }
    
            .secondary .level_two .operate .fr img {
                margin-top: -4px;
            }
    
            .secondary .level_two .operate .fl {
                border-right: 1px solid #CACACA;
                box-sizing: border-box;
                /* display: none;    */
            }
    
            .secondary .level_two.danger .wrap_border {
                border: 1px solid #fe4d4d;
            }
    
            .secondary .level_two.danger .label {
                background: #fe4d4d;
            }
    
            .secondary .level_two.danger .detail .progress_line {
                border: 1px solid #fe4d4d;
                box-shadow: 0 0 1px #fe4d4d;
                background-color: #fe4d4d;
            }
    
            .secondary .level_two.danger .detail .progress_circle {
                background: #fe4d4d;
                box-shadow: 0 0 3px #fe4d4d;
            }
    
            .secondary .level_two.danger .fresh_time {
                border-bottom: 1px solid #fe4d4d;
            }
    
            .secondary .level_two.danger .operate .fl {
                border-right: 1px solid #fe4d4d;
    
            }

        .layui-table[lay-skin=line] td.open {
            color: #5cb948;
        }
    
        .layui-table[lay-skin=line] td.stop {
            color: #f9b72c;
        }
    
        .layui-form-select dl dd.layui-this {
            background-color: #00c1de;
        }
    
        .za_farmheader .za_farmselect .layui-form-select .layui-input, p.poptitle span.fr {
            padding-left: 20px;
        }
    
        .za_farmselect form, #za_realData .title, #za_machine .title, #za_weather .title {
            height: 30px;
        }
        #equirementcontrol p.equirecon_title span img, #za_realData .title .reload img, #za_machine .title .reload img, #za_weather .title .reload img {
            vertical-align: -6px;
        }
    
        .popboxselect ul li:hover, .secondary .level_two .operate .fl:hover, .secondary .level_two .operate .fr:hover {
            background-color: #f5f5f5;
        }
    
        .layui-table thead tr th, .layui-table[lay-skin=line] td {
            color: #666;
        }

        #za_machine .title .reload, #za_realData .title .reload {
            color: #00c1de;
        }
    
        .secondary .level_two .fresh_time .abnormal_status, .secondary .level_two.danger .detail .creact_num, .secondary .level_two.danger .fresh_time .status, .layui-table[lay-skin=line] td.close, .layui-table[lay-skin=line] td.failure {
            color: #fe4d4d;
        }
    
    #equirementcontrol .equirecon .twoswitch span.controlswitch span:nth-of-type(2) {float: right;text-indent: 1px;}
    
    .za_farmheader {line-height: 40px;margin-bottom: 20px; position: relative;}
    .za_farmheader .za_farmselect {min-width: 145px;height: 30px;line-height: 30px;margin-top: 6px;margin-left: 10px;display: inline-block;}
    .za_farmheader a.selectadd {color: #00c1de;padding-left: 10px;font-size: 14px;}
    .za_farmselect form .layui-form-data .layui-input-block {margin-left: 0; }
    .za_farmselect form .layui-form-select dl dd, .za_farmselect form .layui-form-select dl dt {padding: 0 15px;}
    .za_farmselect form .layui-form-data .layui-input, .za_farmselect form .layui-form-data .layui-select {line-height: 30px;height: 30px;}
    #za_realData .title .fl, #za_machine .title .fl, #za_weather .title .fl {height: 18px;line-height: 18px;font-size: 14px;border-left: 2px solid #389BFF;padding-left: 12px;}
    #equirementcontrol .equirecon .unlive span.controlswitch, #chart, .hidden {display: none;}
    .control_equipment,.dev_title{height: 40px;width: 100%;margin-top: 20px;float: left;}
    .dev_title{margin-bottom: 15px;}
    .dev_title span{line-height: 40px;border-left: 2px solid #1e9fff;padding-left: 30px;color: black;font-size: 18px;}
    .control_equipment span{line-height: 20px;border-left: 2px solid #1e9fff;padding-left: 30px;color: black;font-size: 18px;}
    /* 设置 */
    .setUp{
        height: 30px;
        width: 70px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        right: 160px;
        top: 3px;
    }
    .setUp span{
        width: 100%;
        line-height: 30px;
        display: block;
        color: #1e9fff;
    }
    .setUp span.icon-xitong:before{
        margin-right: 5px
    }
    .waterFertili .layui-form-item input {
        width: 207px;
        height: 30px;
        border: 1px solid rgba(183, 185, 190, 1);
        border-radius: 3px;
        padding-left: 5px;
    }
    .waterFertili .layui-form-item .layui-input-block{
        position: relative;
    }
    .waterFertili .layui-form-item .layui-input-block em{
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 14px;
	    color: rgba(0, 0, 0, 0.25);
    }
    .waterFertili .waterFertiliTop{
        width: 100%;
        height: 110px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .waterFertili .waterFertiliM{
        width: 92%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        margin: 0px 26px;
    }
    /* .waterFertili .waterFertiliM span{
        margin-left: 30px;
    } */
    .waterFertili .waterFertiliButton {
        width: 100%;
        height: 160px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .waterFertili .waterFertiliButton .waterFertiliBL{
        float: left;
        width: 50%;
        height: 160px;
    }
    .waterFertili .waterFertiliButton .waterFertiliBR {
        float: right;
        width: 50%;
        height: 160px;
    }
